
<div class="productos-home-1">
    <p class="titulo-productos">Todos nuestros productos</p>
    <div class="grid-productos-home">
      <div class="producto">
          <img class="img-producto" src="../../../assets/ejemplo.jpg">
          <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
          <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
          <img class="img-producto" src="../../../assets/ejemplo.jpg">
          <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
          <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
      <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
    </div>
  </div>