<div class="about-container">
    <p class="titulo-about">Sobre nosotros</p>
    <div class="grid-about">
        <div class="texto1-grid">
            <p class="txt">MarbeArte trabaja de forma 100% artesanal, cuidando hasta el más mínimo detalle y por
                supuesto adaptando cada diseño al gusto y la personalidad del cliente... Realizamos todo tipos de
                complementos especialmente para mujer, para cualquier evento u ocasión. Trabajamos con materiales de
                primera calidad, para responder al cliente con la mayor comodidad y calidad que merece. En nuestro
                diseños usamos flores naturales preservadas, porcelana fría que moldeamos a mano con acabados únicos,
                bases de pendientes hipoalergénicos, pajas y rafias naturales, mantones pintados y enrejados a mano...
                Estamos especializadas en Moda Flamenca, desfilando desde 2015 en We Love Flamenco y desde 2018 en
                Simof. Trabajando y realizando colaboraciones para grandes diseñadores de moda flamenca.</p>
        </div>
        <div class="imagen1-grid"><img class="img"
                src="https://res.cloudinary.com/dplcge3sb/image/upload/v1686698262/Rocio-Peralta-We-Love-Flamenco_1756935492_174521901_1200x675_yex3xn.jpg" alt="imagen">
        </div>
        <div class="imagen2-grid"><img class="img"
                src="https://res.cloudinary.com/dplcge3sb/image/upload/v1686698457/E5CVBJ4M7RCVZIAO752BWMXRNE_i9ipen.jpg" alt="imagen">
        </div>
        <div class="texto2-grid">
            <p class="txt">Desde nuestra parte, intentamos darle vida a todo tipos de complementos de flamenca, boda o
                comunión, desde flores,
                ramilletes, medias lunas, pendientes, broches, peinas, bolsos, tocados o pamelas y también trabamos con
                el
                estaño. Piezas, todas ellas elaboradas con mimo y detalle, de forma artesanal y pintadas a mano
                consiguiendo la tonalidad deseada y con ese toque personal e innovador que le damos a nuestros diseños.

            </p>
        </div>
    </div>
</div>