.about-container {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.grid-inicial {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    margin: 50px;
}

.foto-principal {
    grid-area: 1/1/2/2;
}

.nombre-descrip {
    grid-area: 1/2/2/3;
    text-align: left;
    padding-top: 50px;
    padding-left: 100px;
}

.nombre {
    font-weight: bold;
    font-size: 25px;
    padding: 0;
    margin-bottom: 5px;
}

.precio {
    font-weight: bold;
    font-size: 20px;
}

.categoria {
    font-size: 13px;
    color: gray;
    padding: 0;
    margin-bottom: 5px;
}

.img-principal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descripcion {
    margin-top: 20px;
}

.grid-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}