<div class="contenedor">
    <p class="titulo">Mi cesta</p>
    <div class="grid-global">
        <div class="lista-productos">
            <div class="producto" *ngFor="let item of listaProductos">
                <div class="img-item">
                    <img *ngIf="item.producto.imagenes.length>=1" class="img" src="{{item.producto.imagenes[1].img}}">
                    <img *ngIf="item.producto.imagenes.length==0" class="img"
                        src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678193992/nophoto_mlpdrz.jpg">
                </div>
                <div class="txt-item">
                    <div class="info">
                        <p class="nombre">{{item.producto.nombre}}</p>
                        <p class="unidades">Unidades: {{item.cantidad}}</p>
                        <p *ngIf="item.producto.colores.length" class="unidades">Color:
                            {{item.producto.colores[0].color.nombre}}</p>
                        <p class="precioud" *ngIf="item.cantidad>1">Precio por unidad: {{item.producto.price}} €</p>
                        <p class="precio">{{item.producto.price*item.cantidad}} €</p>
                    </div>
                    <div class="acciones">
                        <p class="borrar"><img (click)="eliminarProducto(item)" class="img-borrar"
                                src="https://icons.veryicon.com/png/o/miscellaneous/medium-thin-linear-icon/cross-23.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="resumen">
            <div class="resumen-txt">
                <p class="texto-resumen">Resumen</p>
            </div>
            <div class="resumen-total" >
                <div class="prueba" *ngFor="let item of listaProductos">
                    <div class="total-txt">
                        <p class="precioud">{{item.producto.nombre}}. {{item.cantidad}} unidad/es  </p>
                    </div>
                    <div class="total-precio">
                        <p class="precioud" *ngIf="item.cantidad==1">{{item.producto.price}} €</p>
                        <p class="precioud" *ngIf="item.cantidad>1">{{(item.producto.price*item.cantidad).toFixed(2)}} €</p>
                    </div>
                </div>
                
            </div>
            <div class="resumen-boton">
                <div class="total-final">
                    <div class="total-txt">
                        <p class="texto-total">Total</p>
                    </div>
                    <div class="total-precio">
                        <p class="texto-precio">{{calcularTotal()}} €</p>
                    </div>
                </div>
                <button [ngClass]="{'boton':true,'boton-disable':!listaProductos.length}">Comprar</button>
            </div>
        </div>
    </div>
</div>