<div *ngIf="loading" class="overlay"></div>
<div *ngIf="loading" class="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="contenedor">
    <p class="titulo">Mi cesta</p>
    <div class="grid-global">
        <div class="lista-productos">
            <p *ngIf="!listaProductos.length" class="titulo-no">No hay productos en la cesta</p>
            <div class="producto" *ngFor="let item of listaProductos">
                <div class="img-item">
                    <img *ngIf="item.producto.imagenes.length>=1" [routerLink]="['/products', item.producto.id]"
                        class="img" src="{{item.producto.imagenes[0].img}}">
                    <img *ngIf="item.producto.imagenes.length==0" [routerLink]="['/products', item.producto.id]"
                        class="img"
                        src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678193992/nophoto_mlpdrz.jpg">
                </div>
                <div class="txt-item">
                    <div class="info">
                        <a [routerLink]="['/products', item.producto.id]" class="nombre">{{item.producto.nombre}}</a>
                        <p class="unidades">Unidades: {{item.cantidad}}</p>
                        <p *ngIf="item.producto.colores.length" class="unidades">Color:
                            {{item.producto.colores[0].color.nombre}}</p>
                        <p class="precioud" *ngIf="item.cantidad>1">Precio por unidad:
                            {{(item.producto.price).toFixed(2)}} €</p>
                        <p class="precio">{{(item.producto.price*item.cantidad).toFixed(2)}} €</p>
                    </div>
                    <div class="acciones">
                        <p class="borrar"><img (click)="eliminarProducto(item)" class="img-borrar"
                                src="https://icons.veryicon.com/png/o/miscellaneous/medium-thin-linear-icon/cross-23.png">
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="lista-direcciones-container">
            <div class="direccion-container">
                <p class="texto-resumen">Direccion</p>
            </div>
            <div class="direccion-add">
                <button mat-mini-fab color="primary" (click)="addDireccion()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="lista-direcciones">
                <div class="direccion-row" *ngFor="let item of listaDirecciones;let i=index"
                    [ngClass]="{'borde-aux':i==0}">
                    <div class="container-select">
                        <mat-radio-button color="primary" value="{{item.id}}" (click)="seleccionarDireccion(item.id)">
                        </mat-radio-button>
                    </div>
                    <div class="container-direccion-txt">
                        <p Class="direccion-txt">{{item.direccion}}<br>
                            {{item.localidad}}, {{item.codigoPostal}}. {{item.ciudad}}</p>
                    </div>
                    <div class="container-eliminar">
                        <button mat-icon-button color="warn" aria-label="Example icon button with a home icon"
                            (click)="borrarDireccion(item.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>


        </div>
        <div class="resumen">
            <div class="resumen-txt">
                <p class="texto-resumen">Resumen</p>
            </div>
            <div class="resumen-total">
                <div class="prueba" *ngFor="let item of listaProductos">
                    <div class="total-txt">
                        <p class="precioud">{{item.producto.nombre}}. {{item.cantidad}} unidad/es </p>
                    </div>
                    <div class="total-precio">
                        <p class="precioud" *ngIf="item.cantidad==1">{{item.producto.price}} €</p>
                        <p class="precioud" *ngIf="item.cantidad>1">{{(item.producto.price*item.cantidad).toFixed(2)}} €
                        </p>
                    </div>
                </div>

            </div>
            <div class="resumen-boton">
                <div class="total-final">
                    <div class="total-txt">
                        <p class="texto-total">Total</p>
                    </div>
                    <div class="total-precio">
                        <p class="texto-precio">{{calcularTotal()}} €</p>
                    </div>
                </div>
                <!-- <button [ngClass]="{'boton':true,'boton-disable':!listaProductos.length}"
                    (click)="comprar()">Comprar</button> -->


                <span *ngIf='listaProductos.length'>
                    <span *ngIf="idDireccion==0">
                        Debes seleccionar una dirección
                    </span>
                    <span *ngIf="idDireccion!=0">
                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>