<div class="container">
    <div class="seccion1">

        <p class="titulo-carrito">Mi carrito</p>
    </div>
    <div class="seccion2">
        <span *ngIf="listaProductos.length">
            <div class="item-carrito" *ngFor="let item of listaProductos">
                <div class="img-item">
                    <img *ngIf="item.producto.imagenes.length>=1" class="img" src="{{item.producto.imagenes[0].img}}">
                    <img *ngIf="item.producto.imagenes.length==0" class="img"
                        src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678193992/nophoto_mlpdrz.jpg">
                </div>
                <div class="txt-item">
                    <div class="infor">
                        <p class="nombre">{{item.producto.nombre}}</p>
                        <p class="unidades">Unidades: {{item.cantidad}}</p>
                        <p *ngIf="item.producto.colores.length" class="unidades">Color:
                            {{item.producto.colores[0].color.nombre}}</p>
                            
                        <p class="precioud" *ngIf="item.cantidad>1">Precio por unidad: {{item.producto.price}} €</p>
                        <p class="precio">{{(item.producto.price*item.cantidad).toFixed(2)}} €</p>
                    </div>
                    <div class="acciones">
                        <p class="borrar"><img (click)="eliminarProducto(item)" class="img-borrar"
                                src="https://icons.veryicon.com/png/o/miscellaneous/medium-thin-linear-icon/cross-23.png">
                        </p>
                    </div>
                </div>
            </div>
        </span>
        <p *ngIf="!listaProductos.length" class="texto-vacio">No hay productos</p>
    </div>
    <div class="seccion3">
        <div class="total">
            <p class="total-txt">Total</p>
            <p class="unidades">Unidades</p>
        </div>
        <div class="precio-total">
            <p class="precio-total-txt">{{calcularTotal()}} €</p>
            <p class="unidades-txt">{{calcularUnidades()}}</p>
        </div>
        <div class="boton-comprar">
            <button [ngClass]="{'boton':true,'boton-disable':!listaProductos.length}" (click)="irCesta()">Ir a la
                cesta</button>
        </div>
    </div>

</div>