.div-contacto {
    text-align: center;
    width: 100%;
    margin-top: 180px;
    margin-bottom: 50px;
}

.titulo-contacto {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
}

.formulario-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    margin-right: 250px;
    margin-left: 250px;
    gap: 40px;
    height: 300px;
}

input,
textarea {
    border: solid;
    border-width: 1px;
    border-color: rgb(207, 206, 206);
    resize: none;
    border-radius: 2px;
}

input:hover,
textarea:hover {
    border-color: rgb(131, 131, 131);
    ;

    border-radius: 2px;
}



.input-nombre {
    grid-area: 1/1/2/2;
}

.input-email {
    grid-area: 1/2/2/3;
}

.input-mensaje {
    grid-area: 2/1/3/3;
}




.boton {
    text-transform: uppercase;
    grid-area: 3/1/4/3;
    position: relative;
    padding: 1em 20px;

    color: white;
    border-color: white;
    background-color: rgb(231, 86, 86);
    font-size: 12px;
    transition: all .1s ease-out;
    width: 100%;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
}

.boton:hover {
    background-color: rgb(205, 72, 72);
}

.info-contacto {
    margin-top: 30px;
    font-size: 14px;
}