<div class="div-contacto">
    <p class="titulo-contacto">Contacto</p>
    <form class="formulario-contacto">
        <input class="input-nombre" type="text" placeholder="Nombre y apellidos">
        <input class="input-email" type="text" placeholder="Email">
        <textarea class="input-mensaje" type="text" placeholder="Mensaje"></textarea>
        <button class="boton" type="submit">Enviar Mensaje</button>
    </form>
    <p class="info-contacto">Si tiene alguna duda, también le podremos atender a través de nuestro correo o a través de
        nuestro instagram.</p>


</div>