


<div style="margin: 100px;">
  <h1>Login</h1>
  <form class="form-login" (ngSubmit)="signIn()" #myForm="ngForm">
    <input type="text" 
            placeholder="Nombre"
            [ngModel]="initForm.username"
            name="username"
            required
            minlength="3">
            <span class="form-text text-danger" *ngIf="notValid('username')">
                  Debe de ser de 3 letras
            </span><br><br>
    <input type="text" 
            placeholder="Contraseña"
            name="password"
            [ngModel]="initForm.password"
            required
            minlength="3">
    <span class="form-text text-danger" *ngIf="notValid('password')">
      Debe de ser de 3 letras
    </span><br><br>
    <button type="submit"
            class="btn btn-primary float-end"
            [disabled]="myForm.invalid">Enviar
    </button>
  </form>

  <span>Valid</span>
        <pre>{{myForm.valid}}</pre>

        <span>Pristine</span>
        <pre>{{myForm.pristine}}</pre>

        <span>Touched</span>
        <pre>{{myForm.touched}}</pre>

        <span>Value</span>
        <pre>{{myForm.value | json}}</pre>
</div>