


<div class="container-login">
  <div class="container-form">
    <p class="titulo-login">Login</p>
    <p class="info-login">Por favor introduce tu usuario y contraseña.</p>

    <form class="form-login" (ngSubmit)="signIn()" #myForm="ngForm">
      <div class="elemento-form">
        <input type="text" 
              placeholder="Nombre de usuario"
              [ngModel]="initForm.username"
              name="username"
              required
              minlength="4">
              <p class="form-text text-danger" *ngIf="notValid('username')">
                    El nombre de usuario debe tener al menos 4 letras.
              </p>
      </div>
      <div class="elemento-form">
        <input type="password" 
                placeholder="********"
                name="password"
                [ngModel]="initForm.password"
                required
                minlength="3">
        <p class="form-text text-danger" *ngIf="notValid('password')">
          La contraseña debe tener al menos 3 letras.
        </p>
      </div>
      <p><button type="submit" class="boton"
              [disabled]="myForm.invalid">Entrar
      </button></p>
      <p class="info-registro">No tienes ninguna cuenta? <a href="#" [routerLink]="['/account/register']">Regístrate</a></p>
     
    </form>
  </div>
</div>

