<div class="container-login">
  <div class="container-form">
    <p class="titulo-login">Añadir colores</p>
    <div class="grid-colores">
      <span *ngFor="let color of listaColores; let i = index">
        <div style="height: 50px; background-color: {{color.color}}; width: 100%;"></div>
        {{color.nombre}}<br><input type="checkbox" id="color.color" value="color.color"
          (change)="onCheckboxPressed(color,$event.target)">

      </span>
    </div>
    <div class="grid-botones">
      <button class="boton" type="button" (click)="save()">Guardar cambios</button>
      <button class="boton-cancelar" type="button" [routerLink]="['/products/all']">Cancelar</button>
    </div>

  </div>
</div>