<div *ngIf="loading" class="overlay"></div>
<div *ngIf="loading" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="container-login">
  <div class="container-form">

    <p class="titulo-login">Añadir colores</p>
    <p class="info">Puede añadir entre uno o varios colores</p>
    <div class="grid-colores">
      <span *ngFor="let color of listaColores; let i = index">
        <div class="div-color" style="height: 50px; background-color: {{color.color}}; width: 100%;"><div class="x-color" (click)="eliminarColor(color.color, color.nombre)"><img
          src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678310020/x_cwzpyx.png"
          alt="eliminar" class="img-x"></div></div>
        
        <p class="nombre-color">{{color.nombre}}</p><input type="checkbox" id="color.color" value="color.color"
          (change)="onCheckboxPressed(color,$event.target)">

      </span>
    </div>
    <div class="grid-botones">
      <button class="boton" type="button" (click)="save()">Guardar cambios</button>
      <button class="boton-cancelar" type="button" [routerLink]="['/products/all']">Cancelar</button>
      
    </div>
    <a (click)="irAnnadir()"><p class="enlace-crear">Quiere crear un nuevo color? Pinche aquí</p></a>

  </div>
</div>