<div class="container-login">
    <div class="container-form">
        <p class="titulo-login">Crear un color</p>

        <form class="form-login" (ngSubmit)="addColor()" [formGroup]="myForm" autocomplete="off">
            <div class="elemento-form">
                <input type="text" class="input-nombre" placeholder="Nombre del color" formControlName="nombre">
                <p class="form-text text-danger" *ngIf="isValidField('nombre')">
                    Debe tener 3 caracteres como mínimo
                </p>
            </div>
            <div class="elemento-form">
                <input type="text" class="input-nombre" placeholder="Código hexadecimal del nuevo color: #XXXXXX"
                    formControlName="color">
                <p class="form-text text-danger" *ngIf="isValidField('color')">
                    El campo debe tener el formato #XXXXXX, donde X representa un dígito hexadecimal.
                </p>
            </div>
            <div class="grid-botones">
                <button class="boton" type="submit">Guardar cambios</button>
                <button class="boton-cancelar" type="button" (click)="cancelar()">Cancelar</button>
            </div>

        </form>
    </div>
</div>