.productos-home-1 {
    text-align: center;
    margin: 50px;
}

.titulo-productos {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
}

.grid-pequeñito {
    display: grid;
    grid-template-columns: 1/4fr, 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    margin: 5px;
}

.grid-colores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 5px;
}

.color {
    width: 100%;
    height: 30px;
}

.color:hover {
    filter: brightness(0.95);
}

.color:hover .x-color {
    visibility: visible;
}

.x-color {
    position: absolute;
    top: -20%;
    right: -5%;
    visibility: hidden;
    cursor: pointer;
}

.img-x {
    width: 20px;
}

.div-color {
    grid-area: 1/1/2/2;
    width: 100%;
    height: 100%;
}

.div-boton {
    grid-area: 1/2/2/3;
    text-align: right;
}


.div-boton2 {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

.boton {
    text-transform: uppercase;
    grid-area: 3/1/4/3;
    position: relative;
    padding: 1em 20px;

    color: white;
    border-color: white;
    background-color: rgb(231, 86, 86);
    font-size: 13px;
    transition: all .1s ease-out;
    border: solid;
    border-width: 1px;
    border-radius: 5px;

}

.boton:hover {
    background-color: rgb(205, 72, 72);
}