<div *ngIf="loading" class="overlay"></div>
<div *ngIf="loading" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<div class="container-grid" *ngIf="listaPedidos.length">
    <p class="titulo">Mis pedidos</p>
    <div class="pedido" *ngFor="let pedido of listaPedidos; let i=index">
        <div class="info-pedido">
            <div class="info-fecha">
                <p class="responsive">FECHA DEL PEDIDO: {{devolverFechaPedido(i)}}</p>
                <p class="titulo-info">FECHA DEL PEDIDO</p>
                <p class="aux">{{devolverFechaPedido(i)}}</p>
            </div>
            <div class="info-total">
                <p class="responsive">TOTAL: <b>{{calcularTotalPedido(i)}} €</b></p>
                <p class="titulo-info">TOTAL</p>
                <p class="aux"><b>{{calcularTotalPedido(i)}} €</b></p>
            </div>
            <div class="info-numero">
                <p class="responsive">PEDIDO NUMERO {{pedido.id}} <a class="enlace-pedido-responsive" (click)="iniciarIncidencia(pedido.id)">Problemas con tu pedido?</a></p>
                <p class="titulo-info">PEDIDO NUMERO {{pedido.id}}</p>
                <a class="enlace-pedido" (click)="iniciarIncidencia(pedido.id)">Problemas con tu pedido?</a>
            </div>
        </div>
        <div class="lista-pedido">
            <div  *ngFor="let compra of devolverListaCompras(i); let j=index" [ngClass]="{'lista-pedido-container':true, 'borde-aux':devolverListaCompras(i).length>j+1}">
                <div class="img-container">
                    <img class="img" *ngIf="compra.articulo.imagenes.length" src="{{compra.articulo.imagenes[0].img}}" [routerLink]="['/products', compra.articulo.id]">
                    <img class="img" *ngIf="!compra.articulo.imagenes.length" src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678193992/nophoto_mlpdrz.jpg" [routerLink]="['/products', compra.articulo.id]">

                </div>
                <div class="txt-container">
                    <a class="nombre" href="#" [routerLink]="['/products', compra.articulo.id]">{{compra.articulo.nombre}}</a>
                    <p class="unidades">Unidades compradas: {{compra.cantidad}}</p>
                    <p class="txt">Precio por unidad: {{compra.articulo.price}} €</p>
                    <p class="precio-compra">Precio: {{compra.price}} €</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!listaPedidos.length" class="container-vacio">
    <p class="titulo">No existen pedidos</p>
</div>