<div class="container-grid">
    <p class="titulo">Mis pedidos</p>

    <div class="pedido">
        <div class="info-pedido">
            <div class="info-fecha">
                <p class="titulo-info">FECHA DEL PEDIDO</p>
                <p class="aux">15 de agosto de 2022</p>
            </div>
            <div class="info-total">
                <p class="titulo-info">TOTAL</p>
                <p class="aux">50 €</p>
            </div>
            <div class="info-numero">
                <p class="titulo-info">PEDIDO NUMERO 123</p>
                <a class="enlace-pedido" href="#">Problemas con tu pedido?</a>
            </div>
        </div>
        <div class="lista-pedido">

        </div>
        
    </div>


</div>