<div class="contenedor">
  <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel"
    style="position: relative">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://res.cloudinary.com/dplcge3sb/image/upload/v1686697881/MVC0701110028-Feria-Seville-Copyright-Michelle-Chaplow_ynhz3a.jpg"
          class="d-block w-100" style="height: 500px!important;object-fit: cover;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dplcge3sb/image/upload/v1686698501/E5CVBJ4M7RCVZIAO752BWMXRNE_1_mlljfg.jpg"
          class="d-block w-100" style="height: 500px!important;object-fit: cover;" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://res.cloudinary.com/dplcge3sb/image/upload/v1686698314/Rocio-Peralta-We-Love-Flamenco_1756935492_174521901_1200x675_wmeegp.jpg"
          class="d-block w-100" style="height: 500px!important;object-fit: cover;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="productos-home-1" *ngIf="masVendidos.length">
    <p class="titulo-productos">Los más vendidos</p>
    <div class="grid-productos-home">
      <div class="producto" *ngFor="let producto of masVendidos" [routerLink]="['/products', producto.id]">
        <img class="img-producto" *ngIf="producto.imagenes[0]" src="{{producto.imagenes[0].img}}" alt="img-producto">
        <img class="img-producto" *ngIf="!producto.imagenes[0]"
          src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678193992/nophoto_mlpdrz.jpg" alt="img-producto">
        <p class="nombre-producto">{{producto.nombre}} <span class="precio-producto">| {{producto.price}}€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>
    </div>
  </div>


  <div class="categorias-producto" *ngIf="listaCategorias.length>=3">
    <div class="categoria" *ngFor="let categoria of listaCategorias" (click)="verProductos(categoria.id)">
      <img *ngIf="categoria.imagenes[0]" class="img-categoria" alt="img-categoria" src="{{categoria.imagenes[0].img}}">
      <img *ngIf="!categoria.imagenes[0]" class="img-categoria" alt="img-categoria"
        src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678309837/ejemplo_tfljhw.jpg">
      <p class="texto-categoria">{{categoria.nombre}}</p>
    </div>
  </div>

  <div class="productos-home-1" *ngIf="nuevosProductos.length">
    <p class="titulo-productos">Nuevos productos</p>
    <div class="grid-productos-home">
      <div class="producto" *ngFor="let item of nuevosProductos" [routerLink]="['/products', item.id]">
        <img class="img-producto" *ngIf="item.imagenes[0]" src="{{item.imagenes[0].img}}" alt="img-producto">
        <img class="img-producto" *ngIf="!item.imagenes[0]"
          src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678193992/nophoto_mlpdrz.jpg" alt="img-producto">
        <p class="nombre-producto">{{item.nombre}} <span class="precio-producto">| {{item.price}}€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
      </div>

    </div>
  </div>
</div>