<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" style="position: relative">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/paisaje2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/paisaje1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/paisaje3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="productos-home-1">
  <p class="titulo-productos">Nuevos productos</p>
  <div class="grid-productos-home">
    <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
    </div>
    <div class="producto">
      <img class="img-producto" src="../../../assets/ejemplo.jpg">
      <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
      <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
    </div>
    <div class="producto">
        <img class="img-producto" src="../../../assets/ejemplo.jpg">
        <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
        <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
    </div>
    <div class="producto">
      <img class="img-producto" src="../../../assets/ejemplo.jpg">
      <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
      <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
    </div>
    <div class="producto">
      <img class="img-producto" src="../../../assets/ejemplo.jpg">
      <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
      <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
    </div>
    <div class="producto">
      <img class="img-producto" src="../../../assets/ejemplo.jpg">
      <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
      <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
    </div>
    <div class="producto">
      <img class="img-producto" src="../../../assets/ejemplo.jpg">
      <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
      <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
    </div>
    <div class="producto">
      <img class="img-producto" src="../../../assets/ejemplo.jpg">
      <p class="nombre-producto">Producto 1 <span class="precio-producto">| 50€</span></p>
      <p class="boton-producto"><button class="boton" type="submit">Ver mas</button></p>
    </div>
  </div>
</div>

<div class="categorias-producto">
  <div class="categoria">
    <img class="img-categoria" src="../../../assets/ejemplo.jpg">
    <p class="texto-categoria">Categoria 1</p>
  </div>
  <div class="categoria">
    <img class="img-categoria" src="../../../assets/ejemplo.jpg">
    <p class="texto-categoria">Categoria 1</p>
  </div>
  <div class="categoria">
    <img class="img-categoria" src="../../../assets/ejemplo.jpg">
    <p class="texto-categoria">Categoria 1</p>
  </div>
</div>