<div class="todo">
    <div class="footer">
        <div class="footer-section-1">
            <img src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678309939/logo-removebg-preview_zuyzik.png" class="logo-footer">
            <div class="correo-footer">correo@gmail.com</div>
            <div class="iconos">
                <a href="https://www.instagram.com/marbearte/?igshid=YmMyMTA2M2Y%3D"><img
                        src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678309969/instagram_oszbvp.png" class="icono"></a>
                <a href="https://www.facebook.com/marbearte"><img src="https://res.cloudinary.com/dplcge3sb/image/upload/v1678309987/facebook_p8fma0.png" class="icono"></a>
            </div>
        </div>
        <div class="footer-section-2">
            <div class="titulo-enlaces">Nuestras páginas</div>
            <div class="div-enlace-footer">
                <a class="enlace-footer" href="#">Inicio</a>
            </div>
            <div class="div-enlace-footer">
                <a class="enlace-footer" href="#">Contacto</a>
            </div>
            <div class="div-enlace-footer">
                <a class="enlace-footer" href="#">Sobre nosotros</a>
            </div>
        </div>
        <div class="footer-section-3">
            <div class="titulo-enlaces">Productos</div>
            <div class="div-enlace-footer" *ngFor="let categoria of listaCategorias">
                <a class="enlace-footer" (click)="verProductos(categoria.id)">{{categoria.nombre}}</a>
            </div>
        </div>

    </div>
    <div class="final-footer">
        @terminos
    </div>
</div>