
<div class="todo">
    <div class="footer">
        <div class="footer-section-1">
            <img src="../../../assets/logo-removebg-preview.png" class="logo-footer">
            <div class="correo-footer">correo@gmail.com</div>
            <div class="iconos">
                <a href="https://www.instagram.com/marbearte/?igshid=YmMyMTA2M2Y%3D"><img src="../../../assets/instagram.png" class="icono"></a>
                <a href="https://www.facebook.com/marbearte"><img src="../../../assets/facebook.png" class="icono"></a>
            </div>
        </div>    
        <div class="footer-section-2">
            <div class="titulo-enlaces">Nuestras páginas</div>
            <div class="div-enlace-footer">
                <a class="enlace-footer" href="#">Inicio</a>
            </div>
            <div class="div-enlace-footer">
                <a class="enlace-footer" href="#">Contacto</a>
            </div>
            <div class="div-enlace-footer">
                <a class="enlace-footer" href="#">Sobre nosotros</a>
            </div>
        </div>    
        <div class="footer-section-3">
            <div class="titulo-enlaces">Titulo enlaces</div>
            <div class="div-enlace-footer">
                <a class="enlace-footer" href="#">Enlace 1</a>
            </div>
            <div class="div-enlace-footer">
                <a class="enlace-footer" href="#">Enlace 1</a>
            </div>
            <div class="div-enlace-footer">
                <a class="enlace-footer" href="#">Enlace 1</a>
            </div>
        </div>    

    </div>
    <div class="final-footer"> 
        @terminos
    </div>
</div>